@using OdeToFood.core
@model Restaurant

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@Model.Name</h3>
    </div>
    <div class="panel-body">
        <span>Location: @Model.Location</span>
        <span>Cuisine: @Model.Cuisine</span>
    </div>
    <div class="panel-footer">
        <a class="btn btn-link" asp-page="./Detail" asp-route-restaurantId="@Model.Id"><i class="fas fa-search-plus"></i></a>
        <a class="btn btn-link" asp-page="./Edit" asp-route-restaurantId="@Model.Id"><i class="fas fa-edit"></i></a>
        <a class="btn btn-link" asp-page="./Delete" asp-route-restaurantId="@Model.Id"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>